#root {
  display: flex;
  flex-direction: column;

  min-height: 100dvh;
  margin: 0;
  padding: 0;

  font-family: Caveat, cursive;

  @media (width <= 800px) {
    padding-right: 10px;
    padding-left: 10px;
  }
}
